[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://test.pypi.org/simple/"
verify_ssl = true
name = "testpypi"

[packages]
pytest = "*"
sstgame = {version = "==0.2.3", index = "testpypi"}

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.0"
python_full_version = "3.9.6"
